{% extends "templates/_layout/base.njk" %}

{% block content %}
    <header class="header">
        <div class="section-centered">
            <h1 class="h1">feedMyPixel<span class="small-text">Ltd</span></h1>
            <img src="/assets/images/feedMyPixelLtd.svg" class="logo" alt="feedMyPixel Ltd.">
        </div>
    </header>
    <main>
        <div class="section-centered" itemscope itemtype="http://schema.org/Organization">
            <h2>Hi 👋🏻</h2>
            <p>I'm Ben, a consultant software engineer.</p>
            <p>My passion is beautifully crafted websites, well written code and building interfaces that make users
                smile.</p>
            <ul class="list-table">
                <li class="list__item" data-icon="😎">
                    Vanilla JavaScript, Node.js, React.js
                </li>
                <li class="list__item" data-icon="✅">
                    HTML
                </li>
                <li class="list__item" data-icon="👌">
                    CSS
                </li>
                <li class="list__item" data-icon="🚀">
                    Progressive enhancement
                </li>
                <li class="list__item" data-icon="⌨️">
                    User experience
                </li>
                <li class="list__item" data-icon="🎉">
                    Accessibility
                </li>
                <li class="list__item" data-icon="☁️">
                    Cloud infrastructure
                </li>
                <li class="list__item" data-icon="🙌">
                    Lots of other stuff
                </li>
            </ul>
        </div>
    </main>
    <footer class="footer" role="contentinfo" itemscope itemtype="http://schema.org/Organization">
        <div class="section-centered-small">
            <ul class="list-inline">
                <li class="list__item">
                    <a itemprop="sameAs" rel="external" href="https://github.com/feedmypixel">
                        <img src="/assets/images/github.svg" class="icon" alt="GitHub">
                    </a>
                </li>
                <li class="list__item">
                    <a itemprop="sameAs" rel="external" href="https://instagram.com/feedmypixel">
                        <img src="/assets/images/instagram.svg" class="icon" alt="instagram">
                    </a>
                </li>
                <li class="list__item">
                    <a itemprop="sameAs" rel="external" href="https://twitter.com/feedmypixel">
                        <img src="/assets/images/twitter.svg" class="icon" alt="twitter">
                    </a>
                </li>
                <li class="list__item">
                    <a itemprop="sameAs" rel="external" href="https://www.linkedin.com/in/benchidgey">
                        <img src="/assets/images/linkedin.svg" class="icon" alt="LinkedIn">
                    </a>
                </li>
            </ul>
        </div>
        <div class="section-centered-small copyright">
            © feedMyPixel Ltd established 2012
        </div>
    </footer>
{% endblock %}
