{% extends "templates/_layout/base.njk" %}

{% block content %}
  <header class="header">
    <div class="section-centered">
      <h1 class="h1 company-name">feedMyPixel<span class="small-text">Ltd</span></h1>
      <img src="/assets/images/feedMyPixelLtd.svg" class="logo" alt="feedMyPixel Ltd.">
    </div>
  </header>
  <main>
    <div class="blue">
      <div class="section-centered">
        <div class="section-welcome" itemscope itemtype="http://schema.org/Organization">
          <h2 class="h2">Web based things</h2>
          <p>mail: <span itemprop="email">
              <a class="link" href="mailto:hello&#64;feedmypixel.com">hello&#64;feedmypixel.com</a>
            </span>
          </p>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer"  role="contentinfo" itemscope itemtype="http://schema.org/Organization">
    <div class="section-centered-small">
      <ul class="list">
        <li class="list__item">
          <a itemprop="sameAs" rel="external" href="https://github.com/feedmypixel">
            <img src="/assets/images/github.svg" class="icon" alt="GitHub">
          </a>
        </li>
        <li class="list__item">
          <a itemprop="sameAs" rel="external" href="https://www.linkedin.com/in/benchidgey">
            <img src="/assets/images/linkedin.svg" class="icon" alt="LinkedIn">
          </a>
        </li>
        <li class="list__item">
          <a itemprop="sameAs" rel="external" href="https://twitter.com/feedmypixel">
            <img src="/assets/images/twitter.svg" class="icon" alt="twitter">
          </a>
        </li>
      </ul>
    </div>
    <div class="section-centered-small copyright">
      © feedMyPixel Ltd 2012 - {{ currentYear }}
    </div>
  </footer>
{% endblock %}
