<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"                       content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
  <meta name="HandheldFriendly"               content="true"/>
  <meta name="apple-touch-fullscreen"         content="yes" />
  <meta name="apple-mobile-web-app-capable"   content="yes">
  <meta name="author"                         content="feedMyPixel&#46;com"/>
  <meta name="description"                    content="feedMyPixel"/>
  <meta name="keywords"                       content="feedMyPixel, ben chidgey"/>
  <meta name="rating"                         content="general"/>
  <meta name="distribution"                   content="global"/>
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="/assets/stylesheets/application.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap"  type="text/css" rel="stylesheet">
</head>
<body>
{% block content %} {% endblock %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9LQ8KHG828"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9LQ8KHG828');
</script>
</body>
</html>
