@import 'settings/_vars.scss';

html {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.4px;
  text-size-adjust: 100%;
  padding: env(safe-area-inset);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $light-grey;
  color: $black;
}

main {
  flex: 1;
  margin: 0 12px;
}

.header {
  padding: 12px 12px 6px;
  background-color: $white;
  border-bottom: 1px solid $grey;
}

.header-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.header-title {
  flex: 12;
  color: $dark-grey;
}

.header-logo {
  flex: 1;
  align-self: flex-end;
}

.welcome {
  margin-top: 36px;
  margin-bottom: 36px;
}

.section {
  margin: 12px auto;
  max-width: 800px;
}

.section-centered {
  text-align: center;
  margin: 0 auto;
}

.h1 {
  margin: 0;
  font-size: 42px;
  display: inline-block;
}

.large-text {
  font-size: 42px;
}

.small-text {
  font-size: 14px;
}

.tiny-text {
  font-size: 12px;
}

.link {
  color: $white;
  text-decoration: underline;

  &:hover,
  &:active,
  &:visited {
    color: $white;
  }
  &:hover {
    text-decoration: none;
  }
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 12px 0 12px 16px;
  padding: 0;

  .list__item {
    display: flex;
    line-height: 1.6;
    margin-bottom: 12px;

    .list__icon {
      padding-right: 6px;
    }
  }
}

.list-inline {
  padding: 0;
  margin: 0 0 12px;
  list-style: none;

  .list__item {
    padding: 0;
    display: inline-block;
    margin-right: 2px;
  }
}

.logo {
  width: 56px;
  height: 56px;
}

.icon {
  width: 26px;
  height: 26px;
}

.github {
  display: inline-block;
  background: url('../images/github.svg') no-repeat;
}

.instagram {
  display: inline-block;
  background: url('../images/instagram.svg') no-repeat;
}

.twitter {
  display: inline-block;
  background: url('../images/twitter.svg') no-repeat;
}

.linkedin {
  display: inline-block;
  background: url('../images/linkedin.svg') no-repeat;
}

.footer {
  font-size: 14px;
  padding: 24px 12px;
  color: $dark-grey;
}

@media screen and (min-width: 30em) {
  html {
    line-height: 1.2;
  }

  .h1 {
    font-size: 48px;
  }

  .h2 {
    font-size: 48px;
  }
}
