@import 'settings/_vars.scss';

html {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $blue;
  color: $white;
}

main {
  flex: 1;
}

.header {
  background-color: $white;
  color: $blue;
  padding: 30px 0 18px;
  border-bottom: 1px solid $dark-blue;
}

.welcome {
  margin-bottom: 36px;
}

.section-centered {
  margin: 12px auto;
  max-width: 552px;
}

.section-centered-small {
  text-align: center;
  width: 252px;
  margin: 0 auto;
}

.h1 {
  margin: 0;
  font-size: 48px;
  display: inline-block;
}

.h2 {
  margin: 0;
  font-size: 36px;
}

.link {
  color: $white;
  text-decoration: underline;

  &:hover,
  &:active,
  &:visited {
    color: $white;
  }
  &:hover {
    text-decoration: none;
  }
}

.small-text {
  font-size: 12px;
}

.list-table {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 12px 0 12px 16px;
  padding: 0;

  .list__item {
    line-height: 1.6;
    margin-bottom: 12px;

    &::before {
      content: attr(data-icon);
      padding-right: 6px;
    }
  }
}

.list-inline {
  padding: 0;
  margin-bottom: 18px;
  list-style: none;

  .list__item {
    padding: 0;
    display: inline-block;
    margin-right: 6px;
  }
}

.logo {
  width: 60px;
  height: 60px;
  margin-left: 6px;
}

.icon {
  width: 24px;
  height: 24px;
}

.copyright {
  font-size: 14px;
  color: $white;
}

.footer {
  font-size: 14px;
  color: $black;
  padding: 24px 12px;
}

@media screen and (min-width: 30em) {
  .h1 {
    font-size: 60px;
  }

  .h2 {
    font-size: 48px;
  }
}
